.mat-dialog-container {
  .mat-dialog-title {
    margin-left: -24px;
    padding-left: 18px;
    color: $primary-color;
    border-left: 5px solid $primary-color;
  }

  .mat-dialog-content {
    margin: 24px 0;

    .shared-with--resume {
      overflow: hidden;

      .shared-with {
        display: block;
        font-size: 12px;
        opacity: .54;
        cursor: pointer;
      }
    }
  }

  .mat-dialog-actions {
    justify-content: flex-end;
  }
}
