mat-form-field {
  width: 100%;

  &:not(:first-child) {
    margin-top: 8px;
  }
}

.mat-form-field--container {
  display: flex;
  align-items: center;

  mat-icon {
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    font-size: 16px;
    cursor: pointer;
    transform: translateY(-50%);
  }

  button {
    margin-left: 8px;
  }
}
