.shared-with--list {
  overflow: hidden;
  margin-bottom: 8px;

  .mat-list {
    .mat-list-item {
      margin-bottom: 8px;
      border-bottom: 1px solid $divider;

      .mat-list-item-content {
        flex-flow: column;
        padding: 0;

        .mat-list-item--name,
        .mat-list-item--email {
          width: 100%;
        }

        .mat-list-item--name {
          font-size: .875rem;
        }

        .mat-list-item--email {
          font-size: .75rem;
          opacity: .54;
        }

        .mat-icon {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }
  }
}
