table {
  width: 100%;
  margin-top: 32px;

  // Header Cells
  .mat-header-cell {
    &:last-child {
      color: $primary-color;
      opacity: .54;
    }
  }

  // Header Sort Cells
  .mat-sort-header-button,
  .mat-sort-header-arrow {
    color: $primary-color;
    opacity: .54;
    outline: none;

    &:hover {
      opacity: .87;
    }
  }

  // Header Sorted Cells
  .mat-sort-header-sorted {
    .mat-sort-header-button,
    .mat-sort-header-arrow {
      opacity: .87;
    }
  }

  // Checkbox
  .mat-checkbox {
    .mat-checkbox-layout {
      margin-bottom: 0;

      .mat-checkbox-inner-container {
        width: 16px;
        height: 16px;
      }
    }
  }
}

// Grid Row
.mat-row {
  .mat-cell {
    .mat-icon-button {
      .mat-icon {
        font-size: 1rem;
        color: rgba(0, 0, 0, .54);
      }
    }
  }
}

// Footer
.table--footer {
  display: flex;
  justify-content: space-between;

  &.end {
    justify-content: flex-end;
  }

  // Actions
  .multiple-selection--actions {
    display: flex;
    align-items: center;
  }

  // Paginator
  .mat-paginator {
    // Counter
    .mat-paginator-page-size-label {
      color: $primary-color;
      opacity: .54;
    }

    // Dropdown
    .mat-paginator-page-size-select {
      .mat-select-value-text,
      .mat-select-arrow {
        color: $primary-color;
        opacity: .54;
      }

      .mat-form-field-underline {
        background-color: rgba(63, 81, 181, .54);
      }
    }

    // Arrows
    .mat-paginator-range-label,
    .mat-icon-button {
      color: $primary-color;
      opacity: .54;
    }
  }
}
