#toolbar {
  position: fixed;
  right: 0;
  left: 250px;
  width: auto;
  background-color: $primary-color;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);

  .current-user,
  .material-icons {
    color: #fff;
  }
}
