.home {
  background-color: #f5f8fa;

  // Container
  .home--container {
    height: 100vh;

    // Sidenav
    .mat-sidenav {
      width: 250px;
      box-shadow: 0 0 4px rgba(0, 0, 0, .14);

      // Title
      .app-title {
        display: block;
        margin-bottom: 50px;
        padding: 16px 16px 16px 24px;
        color: $primary-color;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 32px;
      }

      // Menu
      .menu {
        // List
        .menu-list {
          margin: 0;
          padding: 0;
          list-style: none;

          // Item
          .menu-item {
            position: relative;
            padding: 8px 0 8px 24px;
            color: #636b6f;
            font-size: .875rem;

            &.active {
              color: $primary-color;

              &:before {
                content: '';
                position: absolute;
                top: 48%;
                left: 8px;
                display: block;
                width: 5px;
                height: 5px;
                background: $primary-color;
                border-radius: 50%;
                transform: translateY(-48%);
              }
            }

            &:hover {
              color: $primary-color;
              background: #fafafa;
              cursor: pointer;
            }
          }
        }
      }
    }

    // Content
    .mat-sidenav-content {
      // Toolbar
      .mat-toolbar {
        display: flex;
        justify-content: flex-end;
        align-self: center;
        background-color: #fafafa;
        box-shadow: 0 0 4px rgba(0, 0, 0, .14);

        .current-user {
          font-size: .75rem;
          margin-right: 16px;
        }

        i {
          cursor: pointer;

          &:hover {
            color: $primary-color;
          }
        }
      }

      // Tab Container
      .tab--container {
        .tab--body {
          padding: 32px;
        }
      }
    }
  }
}
