.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  // Logo
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 160px;
    height: 67px;
  }

  // Container
  .login--container {
    width: 30%;

    @media (max-width: 1024px) {
      width: 50%;
    }

    @media (max-width: 576px) {
      width: 90%;
    }

    // Title
    .welcome--title {
      margin-bottom: 32px;

      h1 {
        margin: 0;
        font-size: 2.13333rem;
        line-height: 1.1;
        margin-bottom: .6em;
      }

      h2 {
        font-size: 1.06667rem;
      }
    }

    // Form
    .form--container {
      position: relative;

      // Blue
      .blur {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-attachment: fixed;
        filter: blur(5px);
      }

      // Card
      .mat-card {
        padding: 16px 24px;
        background-color: #ffffff;
        filter: opacity(92%);

        // Header
        .mat-card-header {
          padding-bottom: 16px;
          border-bottom: 1px solid #ddd;

          .mat-card-header-text {
            position: relative;
            margin-left: 0;

            &:before {
              content: '';
              position: absolute;
              width: 5px;
              top: 0;
              bottom: 0;
              left: -24px;
              background: #0575e6;
            }

            mat-card-subtitle {
              margin-bottom: 0;
            }
          }
        }

        // Content
        .mat-card-content {
          margin-top: 16px;
        }
      }
    }
  }
}
