<div *ngIf="animate"
     [ngClass]="{'alert': message, 'alert-success': message.type === 'success', 'alert-danger': message.type === 'error' }"
     [@show]="animate ? 'open': 'close'">
  {{message.text}}

  <i class="material-icons md-18 alert--toggle" (click)="toggle()">close</i>
</div>
