.alert {
  position: absolute;
  right: 0;
  bottom: 16px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin: auto;
  padding: 16px;
  text-align: center;
  z-index: 1001;

  i {
    margin-left: 24px;
    cursor: pointer;
  }
}
