<div class="mat-table--title">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="openNewDialog(null)">New Password</button>
</div>

<mat-divider></mat-divider>

<table mat-table [dataSource]="dataSource" matSort>
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
    </th>

    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"></mat-checkbox>
    </td>
  </ng-container>

  <!-- Columns -->
  <ng-container *ngFor="let column of columns | slice:1:-1" matColumnDef="{{column}}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column | snakeCase}}</th>
    <td mat-cell *matCellDef="let row">
      <span *ngIf="column !== 'password'">{{row[column]}}</span>
      <span *ngIf="column === 'password'">{{row[column].show ? row[column].password : '*****'}}</span>
    </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>

    <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
      <button mat-icon-button (click)="openNewDialog(row)">
        <mat-icon matTooltip="Edit Password" aria-label="Edit Password">create</mat-icon>
      </button>

      <button mat-icon-button (click)="openDeleteDialog(row)">
        <mat-icon matTooltip="Delete Password" aria-label="Delete Password">delete</mat-icon>
      </button>

      <button mat-icon-button (click)="showPassword(row)">
        <mat-icon *ngIf="!row.password.show" matTooltip="Show Password" aria-label="Show Password">visibility</mat-icon>
        <mat-icon *ngIf="row.password.show" matTooltip="Hide Password" aria-label="Hide Password">visibility_off
        </mat-icon>
      </button>

      <button mat-icon-button (click)="sharePassword(row)">
        <mat-icon matTooltip="Share Password" aria-label="Share Password">share</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;" (click)="selection.toggle(row)"></tr>
</table>

<div class="table--footer" [ngClass]="{'end': this.selection.selected.length < 2}">
  <div class="multiple-selection--actions" *ngIf="this.selection.selected.length > 1">
    <button mat-raised-button color="warn" (click)="deleteSelection()">Delete Selected</button>
  </div>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
