<section class="login" [ngStyle]="background">
  <div class="logo m-auto">
    <img src="../../assets/img/logo-mw.gif" class="img-fluid">
  </div>

  <div class="login--container m-auto">
    <div class="form--container">
      <div class="blur" [ngStyle]="background"></div>

      <mat-card>
        <mat-card-header>
          <mat-card-title>Hey, good to see you again!</mat-card-title>
          <mat-card-subtitle>Log in to get going.</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field hintLabel="Min 1 character">
              <input matInput #input minlength="1" placeholder="Email" formControlName="email"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <mat-hint align="end">{{input.value?.length || 0}}/1</mat-hint>
            </mat-form-field>

            <mat-form-field hintLabel="Min 6 characters">
              <input type="password" matInput #input minlength="6" placeholder="Password" formControlName="password"
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <mat-hint align="end">{{input.value?.length || 0}}/6</mat-hint>
            </mat-form-field>

            <div class="button-row text-center">
              <button mat-stroked-button color="primary" class="w-100" [disabled]="loading">Login</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>

