<h1 mat-dialog-title>{{title}}</h1>

<mat-divider></mat-divider>

<div mat-dialog-content>
  <div *ngIf="sharedList" class="shared-with--list">
    <mat-list [@sharedWithListAnimation]>
      <mat-list-item *ngFor="let user of shared">
        <span class="mat-list-item--name">{{user.name}}</span>
        <span class="mat-list-item--email">{{user.email}}</span>

        <mat-icon matTooltip="Remove User" aria-label="Remove User" (click)="removeUser(user)">delete</mat-icon>
      </mat-list-item>
    </mat-list>
  </div>

  <ng-select placeholder="Select user(s)" [items]="users" bindLabel="name" bindValue="id" [multiple]="true"
             [appendTo]="'body'" [(ngModel)]="selectedUsers"></ng-select>

  <div *ngIf="shared && shared.length > 0" class="shared-with--resume">
    <span class="shared-with" (click)="sharedList = true" [@sharedWithAnimation]>
      Shared with <span *ngIf="shared[0]">{{shared[0].name}}</span><span *ngIf="shared[1]">, {{shared[1].name}}</span>
      <span *ngIf="shared.length - 2 > 0">and {{shared.length - 2}} others</span>
    </span>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()">Save</button>
</div>
