<h1 mat-dialog-title>{{title}}</h1>

<mat-divider></mat-divider>

<div mat-dialog-content>
  <p *ngIf="!multiple">
    You are about to delete project <b class="primary--text">{{ this.obj.project_name }}</b> password. Deleting this
    password is permanent and you cannot undo this action.

    <br>
    <br>

    Are you sure you want to delete the project <b class="primary--text">{{ this.obj.project_name }}</b> password?
  </p>

  <p *ngIf="multiple">
    You are about to delete selected project passwords. Deleting this passwords are permanent and you cannot undo this
    action.

    <br>
    <br>

    Are you sure you want to delete the selected project passwords?
  </p>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button color="warn" (click)="onSubmit()" cdkFocusInitial>Delete</button>
</div>
