<h1 mat-dialog-title>{{title}}</h1>

<mat-divider></mat-divider>

<div mat-dialog-content>
  <form [formGroup]="passwordForm">
    <mat-form-field hintLabel="Min 1 character">
      <input matInput #input minlength="1" placeholder="Project Name" formControlName="project_name"
             [ngClass]="{ 'is-invalid': submitted && f.project_name.errors }" cdkFocusInitial>
      <mat-hint align="end">{{input.value?.length || 0}}/1</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Min 1 character">
      <input matInput #input2 minlength="1" placeholder="Project Link" formControlName="project_link"
             [ngClass]="{ 'is-invalid': submitted && f.project_link.errors }">
      <mat-hint align="end">{{input2.value?.length || 0}}/1</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Min 1 character">
      <input matInput #input3 minlength="1" placeholder="Description" formControlName="description"
             [ngClass]="{ 'is-invalid': submitted && f.project_link.errors }">
      <mat-hint align="end">{{input3.value?.length || 0}}/1</mat-hint>
    </mat-form-field>

    <mat-form-field hintLabel="Min 1 character">
      <input matInput #input4 minlength="1" placeholder="Username" formControlName="username"
             [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
      <mat-hint align="end">{{input4.value?.length || 0}}/1</mat-hint>
    </mat-form-field>

    <div class="mat-form-field--container">
      <mat-form-field hintLabel="Min 1 character">
        <input [type]="showPassword ? 'text' : 'password'" matInput #input5 minlength="1" placeholder="Password"
               formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
        <mat-hint align="end">{{input5.value?.length || 0}}/1</mat-hint>

        <mat-icon matTooltip="Show Password" aria-label="Show Password" (click)="showPassword = !showPassword">
          visibility
        </mat-icon>
      </mat-form-field>

      <button mat-button (click)="generate()">Generate</button>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button color="primary" (click)="onSubmit()" [disabled]="this.passwordForm.invalid">Save
  </button>
</div>
