/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "assets/styles/variables";

html, body {
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: 'Fira Sans', sans-serif;
  color: $primary-color;
}

/* Components */
@import 'assets/styles/components/button';
@import 'assets/styles/components/card';
@import 'assets/styles/components/dialog';
@import 'assets/styles/components/form';
@import 'assets/styles/components/list';
@import 'assets/styles/components/ng-select';
@import 'assets/styles/components/page-header';
@import 'assets/styles/components/table';
@import 'assets/styles/components/toolbar';

/* Pages */
@import 'assets/styles/pages/home';
@import 'assets/styles/pages/login';

