<section class="home">
  <mat-sidenav-container class="home--container">
    <mat-sidenav mode="side" opened>
      <span class="app-title text-uppercase">Password<b>Manager</b></span>

      <div class="menu--container">
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item" [class.active]="viewMode == 'tab1'" rel="tab1"
                (click)="viewMode='tab1';pageTitle='My Passwords'">
              My Passwords
            </li>
            <li class="menu-item" [class.active]="viewMode == 'tab2'" rel="tab2"
                (click)="viewMode='tab2';pageTitle='Passwords Shared with me'">
              Passwords Shared with me
            </li>
          </ul>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar id="toolbar">
        <span class="current-user">{{currentUser.name}}</span>

        <i class="material-icons md-18 logout" [routerLink]="['/login']">power_settings_new</i>
      </mat-toolbar>

      <div class="page-header">
        <h1>{{pageTitle}}</h1>
      </div>

      <div class="tab--container" [ngSwitch]="viewMode">
        <div id="tab1" class="tab--body" *ngSwitchCase="'tab1'">
          <mat-card>
            <app-datatable *ngIf="passwords.length !== 0" [columns]="columns" [data]="passwords"></app-datatable>

            <p *ngIf="passwords.length === 0">No data available!</p>
          </mat-card>
        </div>

        <div id="tab2" class="tab--body" *ngSwitchCase="'tab2'">
          <mat-card>
            <app-datatable *ngIf="sharedPasswords.length !== 0" [columns]="columns"
                           [data]="sharedPasswords"></app-datatable>

            <p *ngIf="sharedPasswords.length === 0">No data available!</p>
          </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
